In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
os.getcwd()

'C:\\Users\\Dhananjay\\Documents\\PGDA Data Science\\imarticus PGDA\\Machine learning\\NEW DATASET\\Analytics Vidhya\\10th June Football Hackathon'

In [3]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')
df_sample=pd.read_csv('sample_submission.csv')
df_train

,row_id,scout_id,rating_num,winner,team,competitionId,player_position_1,player_position_2,player_height,player_weight,...,team2_defensive_derived_var_10,team2_offensive_derived_var_11,team2_offensive_derived_var_12,team2_offensive_derived_var_13,team2_offensive_derived_var_14,team2_defensive_derived_var_15,team2_offensive_derived_var_16,team2_defensive_derived_var_17,team2_offensive_derived_var_18,team2_offensive_derived_var_19
0,1,13,7.0,winner,team1,8,7.0,7.0,0.317073,0.48,...,0.193658,0.131548,0.097131,0.600944,0.338892,0.347980,0.034157,0.288962,0.310727,0.204925
1,3,16,6.5,loser,team2,8,3.0,9.0,0.463415,0.42,...,0.190500,0.173697,0.272801,0.605659,0.526761,0.468976,0.054034,0.334962,0.380073,0.295392
2,4,4,8.5,loser,team1,5,11.0,11.0,0.682927,0.44,...,0.312314,0.250756,0.212631,0.558833,0.686523,0.441749,0.219441,0.414288,0.570757,0.437500
3,5,13,8.0,loser,team2,4,17.0,17.0,0.682927,0.58,...,0.282556,0.155969,0.206503,0.533002,0.373959,0.527733,0.095201,0.423040,0.330754,0.235558
4,7,11,3.5,draw,team1,5,10.0,10.0,0.731707,0.70,...,0.450453,0.199050,0.134002,0.688773,0.681724,0.733625,0.128719,0.448360,0.444946,0.312500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20448,29221,14,5.0,draw,team2,14,NaN,NaN,0.439024,0.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20449,29223,3,6.0,winner,team2,11,4.0,4.0,0.390244,0.32,...,0.362193,0.240326,0.369752,0.438649,0.381099,0.264074,0.171927,0.422975,0.588501,0.534694
20450,29224,4,5.0,loser,team1,7,5.0,5.0,0.268293,0.30,...,0.341322,0.248870,0.240096,0.515025,0.694587,0.869000,0.296820,0.511550,0.548315,0.385927
20451,29226,13,6.0,loser,team1,8,5.0,5.0,0.463415,0.46,...,0.215831,0.190395,0.207007,0.631279,0.330606,0.322158,0.108018,0.333229,0.349177,0.458685
20452,29227,4,6.0,winner,team2,4,4.0,4.0,0.585366,0.36,...,0.404569,0.229025,0.138451,0.746928,0.512851,0.544212,0.086429,0.446098,0.347572,0.329782

In [4]:
df_train.columns

Index(['row_id', 'scout_id', 'rating_num', 'winner', 'team', 'competitionId',
       'player_position_1', 'player_position_2', 'player_height',
       'player_weight',
       ...
       'team2_defensive_derived_var_10', 'team2_offensive_derived_var_11',
       'team2_offensive_derived_var_12', 'team2_offensive_derived_var_13',
       'team2_offensive_derived_var_14', 'team2_defensive_derived_var_15',
       'team2_offensive_derived_var_16', 'team2_defensive_derived_var_17',
       'team2_offensive_derived_var_18', 'team2_offensive_derived_var_19'],
      dtype='object', length=800)

In [5]:
df_train.rating_num.value_counts()

6.0     3654
6.5     3247
7.5     3206
10.0    2442
5.0     2244
7.0     1248
3.5     1077
8.5     1062
9.0     1023
8.0      873
0.0      218
3.0      110
2.0       49
Name: rating_num, dtype: int64

In [6]:
df_test

,row_id,scout_id,winner,team,competitionId,player_position_1,player_position_2,player_height,player_weight,player_general_var_0,...,team2_defensive_derived_var_10,team2_offensive_derived_var_11,team2_offensive_derived_var_12,team2_offensive_derived_var_13,team2_offensive_derived_var_14,team2_defensive_derived_var_15,team2_offensive_derived_var_16,team2_defensive_derived_var_17,team2_offensive_derived_var_18,team2_offensive_derived_var_19
0,14785,16,draw,team1,7.0,4.0,4.0,0.317073,0.44,0.0,...,0.268842,0.190509,0.311739,0.628642,0.405323,0.309039,0.114849,0.454992,0.304133,0.328816
1,15125,2,draw,team1,9.0,11.0,11.0,0.560976,0.60,0.0,...,0.346640,0.198072,0.246104,0.536949,0.486006,0.487637,0.105279,0.501402,0.381214,0.499620
2,13095,16,loser,team2,10.0,19.0,19.0,0.195122,0.30,0.0,...,0.351175,0.177065,0.262470,0.650741,0.567063,0.486774,0.062118,0.251021,0.586227,0.267774
3,6079,16,loser,team1,11.0,3.0,9.0,0.341463,0.30,0.0,...,0.496021,0.313902,0.405065,0.490855,0.591251,0.608131,0.294538,0.322264,0.685016,0.293783
4,16584,11,winner,team1,5.0,4.0,4.0,0.585366,0.70,0.2,...,0.396398,0.191068,0.042083,0.838704,0.689723,0.522480,0.090986,0.437002,0.476399,0.437500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8769,21259,15,loser,team1,7.0,11.0,11.0,0.463415,0.60,0.0,...,0.371974,0.290421,0.342837,0.572133,0.721060,0.683173,0.341016,0.400924,0.554274,0.275819
8770,9371,2,draw,team1,4.0,16.0,16.0,0.341463,0.40,0.2,...,0.380558,0.156339,0.173252,0.803287,0.449554,0.443569,0.087641,0.423432,0.435869,0.141724
8771,23226,2,loser,team2,4.0,1.0,1.0,0.439024,0.36,0.0,...,0.147700,0.182449,0.306235,0.591016,0.484777,0.804573,0.094133,0.250106,0.358223,0.376893
8772,26623,11,winner,team1,10.0,1.0,1.0,0.463415,0.54,0.0,...,0.243285,0.141524,0.230742,0.609988,0.356299,0.334398,0.045464,0.429783,0.503833,0.091779
8773,13814,3,winner,team1,4.0,3.0,3.0,0.560976,0.48,0.0,...,0.261760,0.174473,0.120435,0.764821,0.540289,0.492857,0.113514,0.463891,0.338573,0.482798

In [7]:
df_sample

      row_id  rating_num
0      14785           7
1      15125           7
2      13095           7
3       6079           7
4      16584           7
...      ...         ...
8769   21259           7
8770    9371           7
8771   23226           7
8772   26623           7
8773   13814           7

[8774 rows x 2 columns]

In [8]:
df=pd.concat([df_train.assign(ind='train'),df_test.assign(ind='test')])
df

,row_id,scout_id,rating_num,winner,team,competitionId,player_position_1,player_position_2,player_height,player_weight,...,team2_offensive_derived_var_11,team2_offensive_derived_var_12,team2_offensive_derived_var_13,team2_offensive_derived_var_14,team2_defensive_derived_var_15,team2_offensive_derived_var_16,team2_defensive_derived_var_17,team2_offensive_derived_var_18,team2_offensive_derived_var_19,ind
0,1,13,7.0,winner,team1,8.0,7.0,7.0,0.317073,0.48,...,0.131548,0.097131,0.600944,0.338892,0.347980,0.034157,0.288962,0.310727,0.204925,train
1,3,16,6.5,loser,team2,8.0,3.0,9.0,0.463415,0.42,...,0.173697,0.272801,0.605659,0.526761,0.468976,0.054034,0.334962,0.380073,0.295392,train
2,4,4,8.5,loser,team1,5.0,11.0,11.0,0.682927,0.44,...,0.250756,0.212631,0.558833,0.686523,0.441749,0.219441,0.414288,0.570757,0.437500,train
3,5,13,8.0,loser,team2,4.0,17.0,17.0,0.682927,0.58,...,0.155969,0.206503,0.533002,0.373959,0.527733,0.095201,0.423040,0.330754,0.235558,train
4,7,11,3.5,draw,team1,5.0,10.0,10.0,0.731707,0.70,...,0.199050,0.134002,0.688773,0.681724,0.733625,0.128719,0.448360,0.444946,0.312500,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8769,21259,15,NaN,loser,team1,7.0,11.0,11.0,0.463415,0.60,...,0.290421,0.342837,0.572133,0.721060,0.683173,0.341016,0.400924,0.554274,0.275819,test
8770,9371,2,NaN,draw,team1,4.0,16.0,16.0,0.341463,0.40,...,0.156339,0.173252,0.803287,0.449554,0.443569,0.087641,0.423432,0.435869,0.141724,test
8771,23226,2,NaN,loser,team2,4.0,1.0,1.0,0.439024,0.36,...,0.182449,0.306235,0.591016,0.484777,0.804573,0.094133,0.250106,0.358223,0.376893,test
8772,26623,11,NaN,winner,team1,10.0,1.0,1.0,0.463415,0.54,...,0.141524,0.230742,0.609988,0.356299,0.334398,0.045464,0.429783,0.503833,0.091779,test
8773,13814,3,NaN,winner,team1,4.0,3.0,3.0,0.560976,0.48,...,0.174473,0.120435,0.764821,0.540289,0.492857,0.113514,0.463891,0.338573,0.482798,test

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29227 entries, 0 to 8773
Columns: 801 entries, row_id to ind
dtypes: float64(795), int64(3), object(3)
memory usage: 178.8+ MB

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
row_id,29227.0,14614.000000,8437.252495,1.000000,7307.500000,14614.000000,21920.500000,29227.000000
scout_id,29227.0,9.965819,5.774495,1.000000,3.000000,12.000000,15.000000,26.000000
rating_num,20453.0,6.887303,1.852367,0.000000,6.000000,6.500000,8.000000,10.000000
competitionId,29226.0,7.417368,2.420238,4.000000,5.000000,7.000000,9.000000,15.000000
player_position_1,29077.0,7.673384,5.056433,1.000000,3.000000,7.000000,11.000000,23.000000
...,...,...,...,...,...,...,...,...
team2_defensive_derived_var_15,27384.0,0.496664,0.134877,0.046945,0.409595,0.497868,0.593007,0.977524
team2_offensive_derived_var_16,27384.0,0.112806,0.061615,0.000000,0.068563,0.102168,0.148759,1.000000
team2_defensive_derived_var_17,27384.0,0.423206,0.099541,0.044144,0.356291,0.420982,0.489432,1.000000
team2_offensive_derived_var_18,27384.0,0.420595,0.121790,0.000000,0.334381,0.420436,0.507290,1.000000
team2_offensive_derived_var_19,27384.0,0.333598,0.142753,0.000000,0.235558,0.320660,0.425171,1.000000

In [11]:
df.describe(include=object).T

        count unique     top   freq
winner  29227      3  winner  11993
team    29226      2   team1  14869
ind     29227      2   train  20453

## 2. EDA

### 2.1 Nulls Treatment

In [12]:
#checking the nulls
nulls=df.isnull().sum()
nulls=pd.DataFrame({'count':nulls,'percent':(nulls/df.shape[0])*100})
nulls.sort_values('percent',ascending=False)

                        count  percent
team1_other_raw_var_50  29227    100.0
team1_other_raw_var_72  29227    100.0
team1_other_raw_var_43  29227    100.0
team1_other_raw_var_92  29227    100.0
team1_other_raw_var_38  29227    100.0
...                       ...      ...
player_general_var_2        0      0.0
player_general_var_1        0      0.0
player_general_var_0        0      0.0
winner                      0      0.0
ind                         0      0.0

[801 rows x 2 columns]

In [13]:
nulls[nulls['percent']>50].sort_values('percent',ascending=False)

                               count     percent
team2_other_raw_var_33         29227  100.000000
team2_other_raw_var_72         29227  100.000000
team1_other_raw_var_33         29227  100.000000
team1_other_raw_var_31         29227  100.000000
team1_other_raw_var_19         29227  100.000000
...                              ...         ...
player_offensive_ratio_var_20  16226   55.517159
team2_other_ratio_var_42       15434   52.807336
player_offensive_ratio_var_21  14941   51.120539
player_other_ratio_var_80      14770   50.535464
player_offensive_ratio_var_35  14770   50.535464

[62 rows x 2 columns]

In [14]:
#Column Features with nulls more than 50%
high_nulls=nulls[nulls['percent']>50].sort_values('percent',ascending=False).index
high_nulls

Index(['team2_other_raw_var_33', 'team2_other_raw_var_72',
       'team1_other_raw_var_33', 'team1_other_raw_var_31',
       'team1_other_raw_var_19', 'team2_other_raw_var_40',
       'team1_other_raw_var_43', 'team1_other_raw_var_50',
       'team1_other_raw_var_51', 'team1_other_raw_var_72',
       'team2_other_raw_var_38', 'team2_other_raw_var_43',
       'team2_other_raw_var_50', 'team2_other_raw_var_51',
       'team1_other_raw_var_40', 'team1_other_raw_var_82',
       'team1_other_raw_var_38', 'team1_other_raw_var_92',
       'team1_other_ratio_var_33', 'team2_other_raw_var_31',
       'team2_other_ratio_var_33', 'team2_other_ratio_var_32',
       'team2_other_raw_var_92', 'team1_other_ratio_var_32',
       'team2_other_raw_var_19', 'team2_other_raw_var_82',
       'player_other_ratio_var_26', 'player_other_ratio_var_27',
       'player_other_ratio_var_24', 'player_other_ratio_var_28',
       'player_other_ratio_var_25', 'player_other_ratio_var_23',
       'player_positional_ratio_var_79', 'player_other_ratio_var_37',
       'player_defensive_ratio_var_39', 'player_defensive_ratio_var_38',
       'player_offensive_ratio_var_70', 'player_offensive_ratio_var_68',
       'player_offensive_ratio_var_69', 'player_other_ratio_var_67',
       'player_other_ratio_var_73', 'player_offensive_ratio_var_77',
       'player_other_ratio_var_36', 'player_other_ratio_var_14',
       'player_defensive_ratio_var_16', 'player_other_ratio_var_34',
       'player_other_ratio_var_33', 'player_other_ratio_var_32',
       'player_offensive_ratio_var_72', 'player_positional_ratio_var_22',
       'player_offensive_ratio_var_78', 'player_offensive_ratio_var_13',
       'player_offensive_ratio_var_40', 'player_other_ratio_var_66',
       'player_offensive_ratio_var_19', 'player_offensive_ratio_var_57',
       'player_other_ratio_var_18', 'player_offensive_ratio_var_20',
       'team2_other_ratio_var_42', 'player_offensive_ratio_var_21',
       'player_other_ratio_var_80', 'player_offensive_ratio_var_35'],
      dtype='object')

In [15]:
# Dropping the High Null columns greater than 50%

for i in high_nulls:
    df.dropna(axis=1,thresh=14500,inplace=True)

In [16]:
#checking the nulls
nulls=df.isnull().sum()
nulls=pd.DataFrame({'count':nulls,'percent':(nulls/df.shape[0])*100})
nulls.sort_values('percent',ascending=False)

                               count    percent
team1_other_ratio_var_42       14380  49.201081
player_offensive_ratio_var_59  14128  48.338865
player_other_ratio_var_65      14084  48.188319
player_other_ratio_var_7       13486  46.142266
player_other_ratio_var_75      13021  44.551271
...                              ...        ...
player_general_var_2               0   0.000000
player_general_var_1               0   0.000000
player_general_var_0               0   0.000000
winner                             0   0.000000
ind                                0   0.000000

[739 rows x 2 columns]

In [17]:
all_nulls=nulls[nulls['percent']>0].sort_values('percent',ascending=False).index
print(len(all_nulls))
all_nulls=all_nulls.drop('rating_num')
print(len(all_nulls))

729
728

In [18]:
# Treating the rest nulls 
df.fillna(df.drop('rating_num',axis=1).median(),inplace=True)

C:\Users\Dhananjay\AppData\Local\Temp\ipykernel_21424\4013749132.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.drop('rating_num',axis=1).median(),inplace=True)

In [19]:
#checking the nulls
nulls=df.isnull().sum()
nulls=pd.DataFrame({'count':nulls,'percent':(nulls/df.shape[0])*100})
nulls.sort_values('percent',ascending=False)

                               count    percent
rating_num                      8774  30.020187
team                               1   0.003421
row_id                             0   0.000000
team1_other_raw_var_76             0   0.000000
team1_other_raw_var_66             0   0.000000
...                              ...        ...
player_offensive_ratio_var_59      0   0.000000
player_other_ratio_var_60          0   0.000000
player_other_ratio_var_61          0   0.000000
player_other_ratio_var_62          0   0.000000
ind                                0   0.000000

[739 rows x 2 columns]

In [20]:
df.team.mode()

0    team1
Name: team, dtype: object

In [21]:
df.team.value_counts()

team1    14869
team2    14357
Name: team, dtype: int64

In [22]:
df.team.fillna('team1',inplace=True)

In [23]:
#checking the nulls
nulls=df.isnull().sum()
nulls=pd.DataFrame({'count':nulls,'percent':(nulls/df.shape[0])*100})
nulls.sort_values('percent',ascending=False)

                               count    percent
rating_num                      8774  30.020187
row_id                             0   0.000000
team1_other_raw_var_75             0   0.000000
team1_other_raw_var_65             0   0.000000
team1_other_raw_var_66             0   0.000000
...                              ...        ...
player_offensive_ratio_var_58      0   0.000000
player_offensive_ratio_var_59      0   0.000000
player_other_ratio_var_60          0   0.000000
player_other_ratio_var_61          0   0.000000
ind                                0   0.000000

[739 rows x 2 columns]

In [24]:
df.columns[3]

'winner'

In [25]:
df.winner.value_counts()

winner    11993
loser      9678
draw       7556
Name: winner, dtype: int64

## Categorical Encoding

In [26]:
df.describe(include='object')

        winner   team    ind
count    29227  29227  29227
unique       3      2      2
top     winner  team1  train
freq     11993  14870  20453

In [27]:
# Label Encode top numerical values for model feed
#Numerical Encoding of Unique values of Tag column
count=0
for i in df['winner'].unique():
    df['winner'].replace(i,count,inplace=True)
    count+=1
df['winner'].unique()

array([0, 1, 2], dtype=int64)

In [28]:
count=0
for i in df['team'].unique():
    df['team'].replace(i,count,inplace=True)
    count+=1
df['team'].unique()

array([0, 1], dtype=int64)

## final Treated Data

In [29]:
#treated nulls and feature engineered train test data

df_train_final=df[~df['rating_num'].isnull()]
train=df_train_final.drop(['row_id','ind'],axis=1)

df_test_final=df[df['rating_num'].isnull()]
test=df_test_final.drop(['rating_num','ind'],axis=1) # During the model Predict Drop the Row_id column

In [30]:
#Train dataset & Test Dataset For Model Feed
x=train.drop('rating_num',axis=1)
y=train['rating_num']

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from sklearn.model_selection import GridSearchCV, train_test_split

from sklearn import metrics
from sklearn.metrics import mean_squared_error,r2_score

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=100)

In [33]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [34]:
accuracy=[]
f1score=[]
models=[]
result_model={}

def BuildModel(x,y):
    
    models.append(LinearRegression())
    models.append(KNeighborsRegressor())
    models.append(SVR())
    models.append(DecisionTreeRegressor())
    models.append(RandomForestRegressor(random_state=42, n_jobs=-1, oob_score=True))
    models.append(GradientBoostingRegressor(random_state=42))
    models.append(XGBRegressor(random_state=42, verbosity=0))
   
    
    
    
    for model in models:
        
        
        
        model.fit(x,y)
        test_pred=model.predict(x_test)
            
            
            
        
        print(f'Model: {model}\n')
        
        print('\n')
        
        print(f'Model: {model}\nRMSE: {np.sqrt(mean_squared_error(y_test,test_pred))}\nr2-score: {r2_score(y_test, test_pred)}\n\n')
        
        result_model[model]=r2_score(y_test, test_pred)


# Model Building        
BuildModel(x_train,y_train)

Model: LinearRegression()



Model: LinearRegression()
RMSE: 206728.99860635275
r2-score: -12565071852.242647


Model: KNeighborsRegressor()



Model: KNeighborsRegressor()
RMSE: 1.773541031490208
r2-score: 0.07520674072186195


Model: SVR()



Model: SVR()
RMSE: 1.622824642535828
r2-score: 0.22570694790077794


Model: DecisionTreeRegressor()



Model: DecisionTreeRegressor()
RMSE: 2.236625394660947
r2-score: -0.47078325841006463


Model: RandomForestRegressor(n_jobs=-1, oob_score=True, random_state=42)



Model: RandomForestRegressor(n_jobs=-1, oob_score=True, random_state=42)
RMSE: 1.5279788491703437
r2-score: 0.3135690453086244


Model: GradientBoostingRegressor(random_state=42)



Model: GradientBoostingRegressor(random_state=42)
RMSE: 1.6461966842777815
r2-score: 0.20324349145838405


Model: XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=42,
             reg_alpha=0, reg_lambda=1, ...)



Model: XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=42,
             reg_alpha=0, reg_lambda=1, ...)
RMSE: 1.5606827595902089
r2-score: 0.28387070434062023

In [35]:
model_list = sorted(result_model.items(), key=lambda x:x[1])
sortdict = list(model_list)
print(sortdict[-1][0])

RandomForestRegressor(n_jobs=-1, oob_score=True, random_state=42)

In [36]:
best_model=sortdict[-1][0]
best_model

RandomForestRegressor(n_jobs=-1, oob_score=True, random_state=42)

In [37]:
x.shape,test.shape

((20453, 736), (8774, 737))

## Score Card

In [85]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error,r2_score




score_card = pd.DataFrame(columns=['Model', 'RMSE','R2_score'])



def updateScoreCard(model_name):
    global score_card
    
    score_card = score_card.append({'Model': model_name,
                                        'RMSE':(np.sqrt(mean_squared_error(y_test,test_pred))),
                                        'R2 Score': metrics.r2_score(y_test,test_pred)}, 
                                        ignore_index = True)
    return(score_card)

In [ ]:
# put all selection together
feature_selection_df = pd.DataFrame({'Feature':feature_name, 'Pearson':cor_support, 'Chi-2':chi_support, 'RFE':rfe_support, 'Logistics':embeded_lr_support,
                                    'Random Forest':embeded_rf_support, 'LightGBM':embeded_lgb_support})
# count the selected times for each feature
feature_selection_df['Total'] = np.sum(feature_selection_df, axis=1)
# display the top 100
feature_selection_df = feature_selection_df.sort_values(['Total','Feature'] , ascending=False)
feature_selection_df.index = range(1, len(feature_selection_df)+1)
feature_selection_df.head(num_feats)

## Model Building Individual

In [86]:
rfc =RandomForestRegressor(n_estimators=300,random_state=42, n_jobs=-1, oob_score=True)

# Fitting the Model
rfc.fit(x_train,y_train)
# Model Predict
train_pred=rfc.predict(x_train)
test_pred=rfc.predict(x_test)

#score
getscore=updateScoreCard('Random Forest Base all Features')
getscore

C:\Users\Dhananjay\AppData\Local\Temp\ipykernel_21424\2633200961.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score_card = score_card.append({'Model': model_name,

                             Model      RMSE R2_score  R2 Score
0  Random Forest Base all Features  1.520848      NaN  0.319961

In [87]:
ImpFeatures=pd.DataFrame(columns=['colname','count'])
ImpFeatures['colname']=x.columns
ImpFeatures['count']=rfc.feature_importances_
ImpFeatures.sort_values(by='count',ascending=False)

                              colname         count
199     player_positional_raw_var_185  3.588259e-02
1                              winner  1.733031e-02
0                            scout_id  1.519101e-02
3                       competitionId  1.176285e-02
392  player_offensive_derived_var_127  9.615585e-03
..                                ...           ...
39            player_other_raw_var_25  1.188825e-06
164      player_offensive_raw_var_150  9.543157e-08
170      player_offensive_raw_var_156  0.000000e+00
172      player_offensive_raw_var_158  0.000000e+00
220          player_other_ratio_var_7  0.000000e+00

[736 rows x 2 columns]

### Important Features Selected

In [1]:
Impf=ImpFeatures[ImpFeatures['count']>.0005]
Impf.colname

NameError: name 'ImpFeatures' is not defined

In [89]:
x_imp=x[Impf.colname]

#Standardizing the data
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

x_imp_sc=sc.fit_transform(x_imp)

ValueError: at least one array or dtype is required

In [ ]:
# splitting the Scaled important columns 
x_train,x_test,y_train,y_test=split(x_imp_sc,y,random_state=100,test_size=0.25)

### Linear Regression Model

In [ ]:
# Fitting the Model
LrModel=LinearRegression()

LrModel.fit(x_train,y_train)

# Model Predict
train_pred=LrModel.predict(x_train)
test_pred=LrModel.predict(x_test)

#score
getscore=updateScoreCard('Linear Regression')
getscore

### Decision Tree Model

In [ ]:
from sklearn.tree import DecisionTreeClassifier

DCT=DecisionTreeRegressor()

# Fitting the Model
DCT.fit(x_train,y_train)
# Model Predict
train_pred=DCT.predict(x_train)
test_pred=DCT.predict(x_test)

getscore=updateScoreCard('Decision Tree Base')
getscore

### Random Forest Model

#### Base model

In [ ]:
# Fitting the Model
rfc.fit(x_train,y_train)
# Model Predict
train_pred=rfc.predict(x_train)
test_pred=rfc.predict(x_test)

#score
getscore=updateScoreCard('Random Forest Base')
getscore

#### Hypertuned Model

In [ ]:
from sklearn.model_selection import GridSearchCV

params={ 'max_depth':[5,10,15,20,30],'max_features': [6, 8, 10, 12,15],'n_estimators':[100,150,200]}
grid_model=GridSearchCV(estimator=rfc, param_grid=params, cv=4, n_jobs=-1,scoring ='accuracy')

In [ ]:
# Fitting the Model
grid_model.fit(x_train,y_train)

#best Estimator
grid_best_RF=grid_model.best_estimator_
grid_best_RF

In [ ]:
# Model Predict
train_pred=grid_best_RF.predict(x_train)
test_pred=grid_best_RF.predict(x_test)

getscore=updateScoreCard('Random Forest Best Estimator ID')
getscore

## 4.3 Boosting Models

#### XGB Base Model

In [ ]:
xgb=XGBRegressor(objective='reg:linear',use_label_encoder =False)


# Fitting the Model
xgb.fit(x_train,y_train)
# Model Predict
train_pred=xgb.predict(x_train)
test_pred=xgb.predict(x_test)

#Score Card
getscore=updateScoreCard('XGB Base')
getscore

#### XGB Hypertuned Model

In [ ]:
params={ 'max_depth':[5,10,15,20,30],'max_features': [6, 8, 10, 12],'n_estimators':[100,150,200,275]}
grid_model=GridSearchCV(estimator=xgb, param_grid=params, cv=5, n_jobs=-1,scoring ='accuracy')

# Fitting the Model
grid_model.fit(x_train,y_train)

#best Estimator
grid_best_XGB=grid_model.best_estimator_
grid_best_XGB

In [ ]:
# Model Predict
train_pred=grid_best_XGB.predict(x_train)
test_pred=grid_best_XGB.predict(x_test)

getscore=updateScoreCard('XGBoost MOdel Best Estimator_ID')
getscore

### Gradient Boosting Regressor Model

#### Base model

In [ ]:
gbr=GradientBoostingRegressor(objective='reg:Linear',use_label_encoder =False)


# Fitting the Model
xgb.fit(x_train,y_train)
# Model Predict
train_pred=xgb.predict(x_train)
test_pred=xgb.predict(x_test)

#Score Card
getscore=updateScoreCard('XGB Base')
getscore

## 4.4 Deep Learing Models

In [ ]:
# keras imports for the dataset and building our neural network
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import np_utils
## Importing the EarlyStopping call back function
from keras.callbacks import EarlyStopping

In [ ]:
# building a linear stack of layers with the sequential model
model = Sequential()


# hidden layer
model.add(Dense(128, kernel_initializer = "uniform",activation = "relu", input_dim=19))
model.add(Dense(64, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dense(32, kernel_initializer = 'uniform', activation = 'relu'))
model.add(Dense(16, kernel_initializer = 'uniform', activation = 'relu'))



# output layer
model.add(Dense(1, kernel_initializer = "uniform",activation = "MSE"))

In [ ]:
# looking at the model summary
model.summary()

# compiling the sequential model
model.compile(optimizer= 'adam',loss= "RMSE", metrics= ['accuracy'])


# Early Stopping Callback
earlystopping = EarlyStopping(monitor='val_loss', patience=5)


# training the model for 100 epochs
h_callback = model.fit(x_train, y_train, batch_size = 16, epochs = 100, validation_data=(x_test, y_test), callbacks=[earlystopping])

In [ ]:
model.evaluate(x_test, y_test)

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report

test_pred = model.predict(x_test)
test_pred = np.round(test_pred)
RMSE = np.sqrt(mean_squared_error(y_test, test_pred))
print(RMSE)
## R2 Score
print(r2_score(y_test, test_pred))

In [ ]:
getscore=updateScoreCard('Deep Neural Network')
getscore

### Creating Submission File

In [48]:
#Best test Prediction with Best Model trained with full trained data

#fitting the model with full train data
best_model.fit(x,y)

#predicting the model with full test data
best_pred=best_model.predict(test.drop('row_id',axis=1))

In [53]:
best_pred=np.round(best_pred)

In [54]:
#test=test.drop('rating_num',axis=1)

In [55]:
test['rating_num']=best_pred
test

,row_id,scout_id,winner,team,competitionId,player_position_1,player_position_2,player_height,player_weight,player_general_var_0,...,team2_offensive_derived_var_11,team2_offensive_derived_var_12,team2_offensive_derived_var_13,team2_offensive_derived_var_14,team2_defensive_derived_var_15,team2_offensive_derived_var_16,team2_defensive_derived_var_17,team2_offensive_derived_var_18,team2_offensive_derived_var_19,rating_num
0,14785,16,2,0,7.0,4.0,4.0,0.317073,0.44,0.0,...,0.190509,0.311739,0.628642,0.405323,0.309039,0.114849,0.454992,0.304133,0.328816,7.0
1,15125,2,2,0,9.0,11.0,11.0,0.560976,0.60,0.0,...,0.198072,0.246104,0.536949,0.486006,0.487637,0.105279,0.501402,0.381214,0.499620,5.0
2,13095,16,1,1,10.0,19.0,19.0,0.195122,0.30,0.0,...,0.177065,0.262470,0.650741,0.567063,0.486774,0.062118,0.251021,0.586227,0.267774,6.0
3,6079,16,1,0,11.0,3.0,9.0,0.341463,0.30,0.0,...,0.313902,0.405065,0.490855,0.591251,0.608131,0.294538,0.322264,0.685016,0.293783,7.0
4,16584,11,0,0,5.0,4.0,4.0,0.585366,0.70,0.2,...,0.191068,0.042083,0.838704,0.689723,0.522480,0.090986,0.437002,0.476399,0.437500,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8769,21259,15,1,0,7.0,11.0,11.0,0.463415,0.60,0.0,...,0.290421,0.342837,0.572133,0.721060,0.683173,0.341016,0.400924,0.554274,0.275819,6.0
8770,9371,2,2,0,4.0,16.0,16.0,0.341463,0.40,0.2,...,0.156339,0.173252,0.803287,0.449554,0.443569,0.087641,0.423432,0.435869,0.141724,7.0
8771,23226,2,1,1,4.0,1.0,1.0,0.439024,0.36,0.0,...,0.182449,0.306235,0.591016,0.484777,0.804573,0.094133,0.250106,0.358223,0.376893,6.0
8772,26623,11,0,0,10.0,1.0,1.0,0.463415,0.54,0.0,...,0.141524,0.230742,0.609988,0.356299,0.334398,0.045464,0.429783,0.503833,0.091779,7.0
8773,13814,3,0,0,4.0,3.0,3.0,0.560976,0.48,0.0,...,0.174473,0.120435,0.764821,0.540289,0.492857,0.113514,0.463891,0.338573,0.482798,8.0

In [56]:
submission_files=pd.DataFrame()
submission_files['row_id']=test.loc[:,"row_id"]
submission_files["rating_num"]=test.loc[:,"rating_num"]
submission_files

      row_id  rating_num
0      14785         7.0
1      15125         5.0
2      13095         6.0
3       6079         7.0
4      16584         7.0
...      ...         ...
8769   21259         6.0
8770    9371         7.0
8771   23226         6.0
8772   26623         7.0
8773   13814         8.0

[8774 rows x 2 columns]

In [57]:
df_sample

      row_id  rating_num
0      14785           7
1      15125           7
2      13095           7
3       6079           7
4      16584           7
...      ...         ...
8769   21259           7
8770    9371           7
8771   23226           7
8772   26623           7
8773   13814           7

[8774 rows x 2 columns]

In [58]:
submission_files =submission_files.reset_index(drop=True)
submission_files

      row_id  rating_num
0      14785         7.0
1      15125         5.0
2      13095         6.0
3       6079         7.0
4      16584         7.0
...      ...         ...
8769   21259         6.0
8770    9371         7.0
8771   23226         6.0
8772   26623         7.0
8773   13814         8.0

[8774 rows x 2 columns]

In [61]:
#converting to csv file format
submission_files.to_csv('001', index = False)

In [63]:
pd.read_csv('001.csv')